<div class="w-[100%]  flex ">
<div class=" w-[100%] md:w-[40%]  ml-[10%]">



<form #complaintForm="ngForm" (ngSubmit)="submitComplaint(complaintForm)" class="max-w-md mx-auto space-y-4 mt-10">
  <h2 class="text-2xl font-bold text-[#134995] text-center mb-6">Submit a New Complaint</h2>

  <!-- Category -->
  <div>
    <label class="block mb-1 text-sm font-medium text-gray-700">Category  <span class="text-red-500">*</span></label>

    
    
<select
  name="category"
  [(ngModel)]="selectedCategoryId"
   (change)="onCategoryChange()"
  required
  #categoryRef="ngModel"
  [ngClass]="{ 'text-gray-400': isPlaceholderSelected, 'text-black': !isPlaceholderSelected }"
  class="w-full px-3 py-2 border border-[#2570EB] rounded-md outline-none"
>


  <option value="" disabled>Select Category</option>
  <option *ngFor="let c of categories" [value]="c.categoryId">
    {{ c.name }}
  </option>
</select>

    <div *ngIf="categoryRef.invalid && complaintForm.submitted" class="text-red-600 text-sm">Category is required.</div>
  </div>

  <!-- Title -->
<!-- Title -->
<div class="relative">
  <label class="block mb-1 text-sm font-medium text-gray-700">Title  <span class="text-red-500">*</span></label>
  <span
    class="absolute inset-y-0 left-0 pl-3 flex items-center"
    [ngClass]="{
      'mt-6': !(titleRef.invalid && complaintForm.submitted),
      'mt-0': titleRef.invalid && complaintForm.submitted
    }"
  >    <!-- Icon -->
    <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </span>
  <input
    name="name"
    [(ngModel)]="complaint.name"
    required
    maxlength="100"
    #titleRef="ngModel"
    class="w-full px-10 py-2 border border-[#2570EB] rounded-md outline-none placeholder-gray-400"
    placeholder="Enter title"
  />
  <div *ngIf="titleRef.invalid && complaintForm.submitted" class="text-red-600 text-sm">
    Title is required (max 100 chars).
  </div>
</div>


  <!-- Description -->
 <div class="relative">
  <label class="block mb-1 text-sm font-medium text-gray-700">Description  <span class="text-red-500">*</span> </label>
  <span class="absolute top-10 left-0 pl-3  flex items-start"
  
    [ngClass]="{
      'mt-2': !(titleRef.invalid && complaintForm.submitted),
      'mt-3': titleRef.invalid && complaintForm.submitted
    }"
  
  >
    <svg class="h-5 w-5 text-gray-400 mt-1" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 20h9" />
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4h9M3 4h.01M3 20h.01M3 12h18" />
    </svg>
  </span>
  <textarea
    name="description"
    [(ngModel)]="complaint.description"
    required
    rows="4"
    maxlength="300"
    #descRef="ngModel"
    class="w-full px-10 py-2 mt-4 border border-[#2570EB] rounded-md outline-none placeholder-gray-400"
    placeholder="Enter description"
  ></textarea>
  <div *ngIf="descRef.invalid && complaintForm.submitted" class="text-red-600 text-sm">
    Description is required (max 300 chars).
  </div>
</div>

  <!-- National ID -->
<div class="relative">
  <label class="block mb-1 text-sm font-medium text-gray-700">National ID  <span class="text-red-500">*</span></label>

  <!-- Icon -->
  <span
    class="absolute top-[52%] left-2 mt-2 transform -translate-y-1/2 transition-all duration-300"
    [class.left-3]="nidRef.invalid && complaintForm.submitted"
    
    [ngClass]="{
      'mt-2': !(titleRef.invalid && complaintForm.submitted),
      'mt-0': titleRef.invalid && complaintForm.submitted
    }"
  >
    <svg class="h-5 w-5 text-gray-400 " fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 01-8 0" />
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 14v7m0 0h6m-6 0H6" />
    </svg>
  </span>

  <!-- Input -->
  <input
    name="nationalId"
    [(ngModel)]="complaint.nationalId"
    required
    pattern="^\d{14}$"
    #nidRef="ngModel"
    class="w-full px-10 py-2 border border-[#2570EB] rounded-md outline-none placeholder-gray-400"
    placeholder="Enter your National ID"
  />

  <!-- Error -->
  <div *ngIf="nidRef.invalid && complaintForm.submitted" class="text-red-600 text-sm mt-1">
    National ID must be 14 digits.
  </div>
</div>

 <!-- Email -->
<div class="relative">
  <label class="block mb-1 text-sm font-medium text-gray-700">Email  <span class="text-red-500">*</span></label>
  <span class="absolute inset-y-0 left-0 pl-3   flex items-center"
    [ngClass]="{
      'mt-5': !(titleRef.invalid && complaintForm.submitted),
      'mt-0': titleRef.invalid && complaintForm.submitted
    }"
  >
    <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M16 12H8m8 0L12 16m4-4L12 8M4 4h16v16H4z" />
    </svg>
  </span>
  <input
  
    name="email"
    [(ngModel)]="complaint.email"
    required
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    #emailRef="ngModel"
    class="w-full px-10 py-2 border border-[#2570EB] rounded-md outline-none placeholder-gray-400"
    placeholder="Enter your Email"
    value="{{user.email}}"
    [disabled]="isToken"
    [ngStyle]="{ 'background-color': isToken ? '#f3f3f3' : 'white', 'color': isToken ? '#9ca3af' : 'black' }"
  />
  <div *ngIf="emailRef.invalid && complaintForm.submitted" class="text-red-600 text-sm">
    Valid email is required.
  </div>
</div>
  
  <!-- Location -->
<div class="relative">
  <label class="block mb-1 text-sm font-medium text-gray-700">Location  <span class="text-red-500">*</span></label>
  <span class="absolute inset-y-0 left-0 pl-3  flex items-center"
    [ngClass]="{
      'mt-5': !(titleRef.invalid && complaintForm.submitted),
      'mt-0': titleRef.invalid && complaintForm.submitted
    }"
  >
    <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M12 11c1.657 0 3-1.343 3-3S13.657 5 12 5s-3 1.343-3 3 1.343 3 3 3zM12 11v10" />
    </svg>
  </span>
  <input
    name="location"
    [(ngModel)]="complaint.location"
    required
    maxlength="100"
    #locRef="ngModel"
    class="w-full px-10 py-2 border border-[#2570EB] rounded-md outline-none placeholder-gray-400"
    placeholder="Enter your Location"
   
  />
  <div *ngIf="locRef.invalid && complaintForm.submitted" class="text-red-600 text-sm">
    Location is required (max 100 chars).
  </div>
</div>

  <!-- Submit Button -->
  <button
    type="submit"
    class="w-full font-bold bg-[#134995] text-white py-2 rounded-md hover:bg-blue-900 transition"
  >
    Submit
  </button>
</form>




</div>
<div class="bg-withe hidden md:block md:w-[50%]">
    

<img src="Group.png" class="w-80 h-80 ml-[30%] mt-[20%] "    alt="Group Image" />
</div>
</div>
