<app-header></app-header>
<!-- First Section -->

<div class="flex flex-col-reverse lg:flex-row items-center justify-between px-6 py-10">
 
  <div class="w-full lg:w-1/2 text-center lg:text-left mt-8 lg:mt-0 lg:pl-30">
    <h2 class="text-3xl sm:text-4xl font-bold text-blue-800 mb-4">
      Citizen Complaint Portal
    </h2>
    <p class="text-gray-600 text-base sm:text-lg mb-6">
      Your voice matters. Report issues and help improve public services
    </p>
    <button
      class="bg-blue-800 hover:bg-blue-900 text-white font-semibold px-5 py-2 rounded"
    >
      Submit Your Complaint
    </button>
  </div>

 
  <div class="relative w-full lg:w-1/2 flex justify-center items-center">
    <img
      src="heroSectionImage.svg"
      alt="Handshake"
      class="w-full max-w-md z-10"
    />

   
    <img
      src="heroSectionArrow.svg"
      alt="Arrow"
      class="hidden lg:block absolute -top-10 -left-14 w-72 h-72 rotate-[370deg]"
    />
  </div>
</div>

<!-- Second Section -->

<section class="py-10 bg-blue-50 text-center">
  <h2 class="text-2xl font-bold text-blue-900 mb-8">Why Use Our Platform</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-10 mb-8">
    <!-- Card 1 -->
    <div
      class="bg-white rounded-md shadow-md p-3 border-t-6 border-blue-800 transform transition duration-300 hover:scale-105 hover:shadow-xl"
    >
      <div class="flex items-center gap-2">
        <div class="mb-2 rounded-full bg-blue-100">
          <img class="w-15 h-15 p-2" src="fastResponse.svg" alt="" />
        </div>
        <h3 class="font-bold text-xl text-blue-800 mb-2">Fast Response</h3>
      </div>

      <p class="text-gray-700 text-sm text-left">
        Your complaints are reviewed and acted upon without delay.
      </p>
    </div>
    <!-- Card 2 -->
    <div
      class="bg-white rounded-md shadow-md p-3 border-t-6 border-blue-800 transform transition duration-300 hover:scale-105 hover:shadow-xl"
    >
      <div class="flex items-center gap-2">
        <div class="mb-2 rounded-full bg-blue-100">
          <img class="w-15 h-15 p-2" src="verified.svg" alt="" />
        </div>
        <h3 class="font-bold text-xl text-blue-800 mb-2">Verified Handling</h3>
      </div>

      <p class="text-gray-700 text-sm text-left">
        Every complaint is managed by authorized government entities for
        transparency and trust..
      </p>
    </div>

    <!-- Card 3 -->
    <div
      class="bg-white rounded-md shadow-md p-3 border-t-6 border-blue-800 transform transition duration-300 hover:scale-105 hover:shadow-xl"
    >
      <div class="flex items-center gap-2">
        <div class="mb-2 rounded-full bg-blue-100">
          <img class="w-15 h-15 p-2" src="Secure.svg" alt="" />
        </div>
        <h3 class="font-bold text-xl text-blue-800 mb-2">
          Secure & Confidential
        </h3>
      </div>

      <p class="text-gray-700 text-sm text-left">
        Your personal data and complaints are protected with top-level security
        protocols.
      </p>
    </div>

    <!-- Card 4 -->
     <div
      class="bg-white rounded-md shadow-md p-3 border-t-6 border-blue-800 transform transition duration-300 hover:scale-105 hover:shadow-xl"
    >
      <div class="flex items-center gap-2">
        <div class="mb-2 rounded-full bg-blue-100">
          <img class="w-15 h-15 p-2" src="thousandsCitizen.svg" alt="" />
        </div>
        <h3 class="font-bold text-xl text-blue-800 mb-2">
         Trusted by Thousands
        </h3>
      </div>

      <p class="text-gray-700 text-sm text-left">
        Join thousands of citizens who’ve already made their voices heard.

      </p>
    </div>

  </div>
</section>



<app-footer></app-footer>
