/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind base;
@tailwind utilities;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
